main {
    
    .imagenes {
        display: flex;

        h2 {
            font-family: $MonoMedium;
            font-size: 12px;
            color: $Color3;
            margin-bottom: 10px;
        }
    
    
        .prueba1 {
            padding: 40px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            @extend .center;

            .producto {
                .cartitapie {
                        display: flex;
                        justify-content: space-around;
                    a {
                        margin-top: 15px;
                        background-color: $Color1;
                        padding: 7px;
                        @include medidas (60px,auto);
                        border-radius: 10px;
                        color: $Color3;
                        font-family: $MonoMedium;
                        font-size: 13px;
                        text-decoration: none;
                        transition: .5s, .5s;
                        &:hover {
                            background-color: $Color3;
                            color: $Color2;
                            transform:scale(1.1);
                        }

                    }
                }
            }
        }
            
        .prueba2 {
            padding: 40px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            @extend .center;

            
            .producto {
                .cartitapie {
                    display: flex;
                    justify-content: space-around;
                    a {
                        margin-top: 15px;
                        background-color: $Color1;
                        padding: 7px;
                        @include medidas (60px,auto);
                        border-radius: 10px;
                        color: $Color3;
                        font-family: $MonoMedium;
                        font-size: 13px;
                        text-decoration: none;
                        transition: .5s, .5s;
                        &:hover {
                            background-color: $Color3;
                            color: $Color2;
                            transform:scale(1.1);
                        }

                    }
                }
            }
            
        }
            
        .prueba3 {
            padding: 40px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            @extend .center;

            
            .producto {
                .cartitapie {
                    display: flex;
                    justify-content: space-around;
                    a {
                        margin-top: 15px;
                        background-color: $Color1;
                        padding: 7px;
                        @include medidas (60px,auto);
                        border-radius: 10px;
                        color: $Color3;
                        font-family: $MonoMedium;
                        font-size: 13px;
                        text-decoration: none;
                        transition: .5s, .5s;
                        &:hover {
                            background-color: $Color3;
                            color: $Color2;
                            transform:scale(1.1);
                        }

                    }
                }
            }
        }
        
        .prueba4 {
            padding: 40px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            @extend .center;

            
            .producto {
                .cartitapie {
                        display: flex;
                        justify-content: space-around;
                   
                    a {
                        margin-top: 15px;
                        background-color: $Color1;
                        padding: 7px;
                        @include medidas (60px,auto);
                        border-radius: 10px;
                        color: $Color3;
                        font-family: $MonoMedium;
                        font-size: 13px;
                        text-decoration: none;
                        transition: .5s, .5s;
                        &:hover {
                            background-color: $Color3;
                            color: $Color2;
                            transform:scale(1.1);
                        }

                    }
                }
            }
        }
            
        .producto {
            margin-bottom: 100px;
            border-radius: 10px;
            @include medidas (auto,340px);
            padding: 30px;
            box-shadow: rgba(206, 127, 87, 0.538) 0px 10px 20px, rgba(206, 126, 87, 0.23) 0px 6px 6px;
            transition: 0.3s;

            &:hover {   
            transform:scale(1.1);
            }
        }
            
            
      
    
     
    } 

    .producto select {
        margin-top: 15px;
        @include medidas (50px,auto);
    }
    .desplegable {
        font-family: $MonoMedium;
        font-size: 15px;
        color: $Color4;
        background-color: $Color1;
        border-color: $Color1;
        border-radius: 5px;
        margin-left: 70px;
        margin-top: 20px;
        padding: 6px;
    }  
}